.profile__info-and-edit-button-container {
  display: flex;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .profile__info-and-edit-button-container {
    align-self: center; 
    margin: auto;
  }
}