.header__logo {
  background-image: url(../../../images/logo/Vector.png);
  width: 142px;
  height: 33px;
  align-self: center;
  transition: opacity .3s linear;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__logo { 
    width: 103.74px;
    height: 24.4px;
    background-size: cover;
    margin: 28px auto 31.6px 27px;
  }
}