.grid__like {
  width: 22px;
  background-image: url(../../../images/heart.svg);
  height: 19px;
  margin-right: 5px;
  align-self: center;
  transition: opacity .3s linear;
}

.grid__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.grid__like:active {
  background-image: url(../../../images/black_heart.svg);
  opacity: 1;
}