.profile__occupation {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21.78px;
  margin: 8px 0 0 0;
  width: fit-content;
}

@media screen and (max-width: 767px) {
  .profile__occupation {
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
    margin: 8px auto 0;
  }
}