.popup__cross {
  position: absolute;
  right: -50px;
  top: -43px;
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
  outline: none;
  cursor: pointer;
  transition: opacity .1s linear;
  background-image: url(../../../images/Cross.png);
  background-size: cover;
  width: 40px;
  height: 40px;
}

.popup__cross:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__cross {
    right: -2px;
    top: -62px;
    font-size: 48px;
    width: 26px;
    height: 26px;
  }
}
